:root {
  --principal-color: lightgrey;
  --secondary-color: #a8e1f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--principal-color);

  @media (max-width: 359px) {
    display: none;
  }
}
